
        * {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin:0;
            padding:0;
        }

        header {
            background-color: #222;
            text-align: right;
        }
        header form{
            display:none;
        }

        header > a {
            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-size: 13px;
        }
        header #dropdown {
            display: inline-block;
        }
        #dropdown-btn {
            border: none;
            color: #111;
            background-color: rgb(0, 186, 0);
            font-size: 15px;
            padding: 10px 20px;
            font-weight: Bold;
            transition: background-color 0.5s ease;
            transition: color 0.3s ease;
        }
        #dropdown-btn:hover {
            color: #e1e1e1;
            background-color: rgb(0, 128, 0);
        }

        #dropdown-content {
            position: absolute;
            right: 0;
            background-color: #c0c0c0;
            display: none;
        }

        #dropdown-content a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #000;

        }

        #dropdown:hover #dropdown-content {
            display: block;
        }

        #dropdown-content a:hover {
            background-color: #a2a2a2;
        }
       
        #dropdown:hover #dropdown-btn{
            color: #e1e1e1;
            background-color: rgb(0, 128, 0);
        }
       
        section#intro {
            background-color: rgb(24, 22, 71);
            height:150px;

        }
        section#intro #branding{
            position:absolute;
            top:10;
            left:0;

        }
        section#intro #branding h1 {
            position: absolute;
            top:10px;
            left:220px;
            white-space:nowrap;
            font-family:fantasy;
            font-weight:normal;
            font-size:65px
            
        }
        h1{
            color:orange;
        }
        p{
            color:orange;
        }
        section#intro #branding p{
            position:absolute;
            top:105px;
            left:210px;
            white-space: nowrap;
            font-size:17.7px;
        }
        section#intro #search-box{
            position:absolute;
            top:0;
            right:0;
        }
        section#intro #search-box form{
          position: absolute;
          top:135px;
          right:40px  
        }
        #search-box form input {
            position:absolute;
            right:0;
            height:40px;
            width:250px;
            padding: 10px;
            border-radius: 15px;
            border:0px solid #333;
            background-color: orange;
            color:white;
        }
        #search-box form input:hover{
            background-color: #000;

        }
        
        #search-box form button {
            position:relative;
            right:0;
            height:40px;
            width:40px;
            background-color: orange;
            border:none;
            cursor:pointer;
            border-radius: 15px;
        }
        nav{
            display:flex;
            flex-direction:row;
            background-color: rgb(16, 16, 16);
            justify-content:space-evenly;

        }
        nav li a{
            color:white;
            padding:10px;
            display:inline-block;
            text-decoration: none;
        }
        nav li {
            list-style-type:none;
        }
        @media only screen and (max-width:840px){
            body{
                background-color: aquamarine;
            }
        }
        header form{
            display:inline-block;
        }
        section#intro #search-box {
             display:flex;  
        }
        @media only screen and (max-width:440px){

        }
        main{
            font-size: 30px;
            font-weight: bold;
        }
